button{
  border-radius: 50px;
  font-size: 17px;
  width: 50px;
  height: 40px;
  border: none;
  margin-top: 7px;
  background-color: darkgrey;
  color: white;
  cursor: pointer;
  
}
button:hover{
  background-color: rgb(25, 97, 97);
}
.calculator{
  display: flex;
  justify-content: center;
}
.cal{
  /* margin-top:40px; */
  text-align: center;
  width: 240px;
  background-color: black;

}
.row-5{
  margin-left: 0px;
  margin-bottom: 10px;
}
.zero{
  padding-right: 95px;
  width: 10px;
  
}
.score{
  color: white;
  text-align: right;
  padding-right: 30px;
  font-size:27px;

}
p{
  margin: 0;
  color: white;
}
.display input{
  background-color: black;
  margin-left: 93px;
  border: none;
  color: white;

}

.cal-symbol{
  background-color: orange;
}
h1{
  width: 100%;
  text-align:center ;
  text-decoration:underline;
  font-style:italic;
  color: rgb(69, 92, 223);
}
body{
  background-color:#63e499;
}